<!DOCTYPE html>
<html>
  <head>
    <%- include('../static/head'); %>
    <link rel="stylesheet" href="/css/grid.css" />
    <title>404</title>
  </head>
   <%- include('../static/header'); %> <%-
  include('../static/nav'); %>
  <main>
    <h1>404</h1>
    <p>Ressource wurde nicht gefunden.</p>
  </main>
  <%- include('../static/aside'); %> <%- include('../static/footer'); %>
</html>
